java8practice.iml
**/*.class

/.project
/.classpath
/.settings/org.eclipse.jdt.core.prefs
/.idea/jsLinters/eslint.xml
/.idea/misc.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
